/*
 size : font-size
 weight : font-weight
 lnh : line-height
 */

/** font-size */
$f_size_ctxmenu = 12px
$f_size_ctxmenu_label = 10px

$f_size_menubar = 14px


/** font-weight */
$f_weight = 300
$f_weight_label = 700

$f_weight_ctxmenu = 500
$f_weight_ctxmenu_label = $f_weight_label


/** line-height */
/* default: 1.6 */
$f_lnh = 1.5

/* default: 1.5 */
$f_lnh_ctxmenu = 1.4
$f_lnh_ctxmenu_label = 1.0