// Z-index definitions
$Z_amainbar = 1000
$Z_amainbar_primary = $Z_amainbar + 1
$Z_amainbar_secondary = $Z_amainbar

$Z_settings_dropdown = $Z_amainbar - 1

// This is necessary because of a bug with stylus...
$Z_amainbar_secondary_plus_one = $Z_amainbar_secondary + 1

$Z_asidebar = 200

$Z_atimeline = $Z_asidebar + 100
$Z_atimline_cursor = $Z_atimeline + 100
$Z_atimeline_toolbar = $Z_atimline_cursor + 1

$z_statusBar = 1000

$Z_amodal = $Z_amainbar_secondary + 1
$Z_anotification = $Z_amodal + 1
$Z_context_menu = $Z_amodal + 100

$Z_canvas_overlay = 1
$Z_bounding_box = $Z_canvas_overlay + 1
$Z_bounding_box_control = $Z_bounding_box + 1
