build/*
doc/*
node_modules
dev/aeditor.js
dev/aeditor.js.map
dev/css/aeditor.css
dev/build-concat.coffee
dev/js/awgl.js
dev/js/awgl.js.map
dev/js/awgl-concat.coffee
dev/js/adefy.js
dev/js/adefy.js.map
dev/js/ajs-concat.coffee