.asidebar
  background-color $col_sidebar_bg
  position absolute
  color white

  z-index $Z_asidebar

  > *
    padding 4px 8px

  hr
    background-color $col_sidebar_hr_bg
    padding 0
    border none
    height 1px
    margin 0

  // Sidebar name
  .as-name
    background-color $col_sidebar_name_bg
    display block
    font-size 18px
    margin-bottom 8px
    border-bottom 2px solid $col_sidebar_name_border

  // Group of objects in the sidebar
  .as-objgroup
    border-left 2px solid $col_sidebar_objgroup_border

    // Category name
    .asog-catname
      font-size 16px
      display block
      margin-bottom 4px

    // Object name
    .aso-name
      font-size 14px
      padding 4px 0 4px 16px
      margin 4px 0 4px 16px
      border-left 2px solid $col_sidebar_obj_name_border

    .aso-name:hover
      background-color $col_sidebar_obj_name_hover_bg
      cursor hand
      cursor pointer
      margin-left 0
      padding-left 32px

  .ui-draggable-dragging
    background-color $lblue
    min-width 200px
