// Top navigation bar, holds the logo and menu items
.amainbar
  background $col_mainbar_bg

  color $col_mainbar_color

  width 100%
  height 26px
  font-size 13px
  line-height 14px
  padding-top 2px

  position relative
  z-index $Z_amainbar

  *
    display inline-block
    vertical-align top

  // Decorater, used to be a border on the mainbar, but moved into a seperate
  // element to not mess with the height of it. It turned out to mess with the
  // height anyways, but at this point, not going to move it again
  #ambdecorater
    height 2px
    width 100%
    position absolute
    top 0
    background-color $col_mainbar_decorator_bg

  // Logo is always displayed using Oleo Script
  .logo
    font-family "Oleo Script", serif
    font-size 16px
    padding 6px

    background $col_mainbar_logo_bg

  .amainbar-primary
    z-index $Z_amainbar_primary
    position relative

    a
      display inline-block
      padding 6px 12px

    a:first-child
      margin-left 16px

    a:hover:not(.open)
      background $col_mainbar_link_hover_bg

    a.open
      background-color $col_mainbar_primary_open_bg

  .amainbar-secondary
    position absolute
    top 28px
    display none
    z-index $Z_amainbar_secondary

    a
      width 128px
      padding 4px 24px
      background-color $col_mainbar_primary_open_bg
      display block
      font-size 11px

      li
        color white

    a:last-child
      padding-bottom 8px

    a:hover
      background-color $col_mainbar_secondary_hover_bg

      li
        color $col_mainbar_secondary_hover_color
