//
// Copyright © 2013 Spectrum IT Solutions Gmbh - All Rights Reserved
//

// Contains everything interesting, including workspace and sidebars
#aeditor
  .aworkspace
    background-color $col_workspace_bg
    width 100%

    #aw-canvas-container
      display block
      margin 0 auto
      position relative

    #awcc-outline
      border 1px solid #0099cc
      background-color transparent
      position absolute
      pointer-events none

    #awcc-outline-text
      color #0099cc
      position absolute
      font-size 12px

  // Shown in a modal when changing the bg color
  ._wbgPreview
    width 75%
    height 48px
    display block
    margin 8px auto
    border 1px solid rgba(0, 0, 0, 0.1)