// Top navigation bar, holds the logo and menu items
.amainbar
  background $col_mainbar_bg
  color $col_mainbar_color

  width 100%
  font-size 12px
  line-height 14px

  position relative
  z-index $Z_amainbar

  *
    display inline-block
    vertical-align top

  // Decorater, used to be a border on the mainbar, but moved into a seperate
  // element to not mess with the height of it. It turned out to mess with the
  // height anyways, but at this point, not going to move it again
  #ambdecorater
    height 2px
    width 100%
    position absolute
    top 0
    background-color $col_mainbar_decorator_bg

  .amainbar-primary
    z-index $Z_amainbar_primary
    position relative
    border-bottom 1px solid $col_divider_bot

    a
      display inline-block
      padding 4px 11px

    a:first-child
      margin-left 4px

    a:hover:not(.open)
      background $col_mainbar_link_hover_bg

    a.open
      background-color $col_mainbar_primary_open_bg

  .amainbar-secondary
    position absolute
    top 28px
    display none
    z-index $Z_amainbar_secondary

    .ambc-section-end
      border-bottom 1px solid $col_mainbar_secondary_section_border

    a
      width 128px
      padding 4px 24px
      background-color $col_mainbar_primary_open_bg
      display block
      font-size 11px

      li
        color white

    a:last-child
      padding-bottom 8px

    a:hover
      background-color $col_mainbar_secondary_hover_bg

      li
        color $col_mainbar_secondary_hover_color
