//
// Copyright © 2013 Spectrum IT Solutions Gmbh - All Rights Reserved
//
#aeditor
  .anotification
    position absolute
    display none
    opacity 0
    padding 8px 16px 8px 8px
    color $white
    z-index $Z_anotification

    i, p
      display inline-block
      vertical-align top

    i
      padding 0 8px 0 0

    i:hover
      cursor hand
      cursor pointer