//
// Copyright © 2013 Spectrum IT Solutions Gmbh - All Rights Reserved
//
#aeditor
  .amodal
    position absolute
    z-index $Z_amodal
    top 50px
    left 450px
    min-width 510px
    min-height 120px
    //min-height 360px
    //width 100%

    border-radius: 4px
    background-color: $mgray

    font-weight 600
    text-shadow 0 1px 1px rgba(0,0,0,0.58)
    box-shadow inset 0 0 1px rgba(255,255,255,.15), 0 3px 15px rgba(0,0,0,.15)
    border 1px solid rgba(0,0,0,.6)

    opacity 0
    position absolute

    color #ddd

    .aminner
      width 100%
      margin 0 auto
      display block

      .ambody
        padding: 0 12px 6px

        .input_group
          margin 4px 0

          label, input
            display inline-block
            vertical-align top

          label
            width 30%
            text-align right
            margin-right 8px
            padding 4px 0

          .radio
            padding 4px 0
            display inline-block

      .amheader
        height 36px
        line-height 36px
        padding 0 12px
        border-radius 4px 4px 0 0
        background linear-gradient(top, #343434,#292929)
        box-shadow inset 0 -1px rgba(0,0,0,.35), inset 0 1px rgba(255,255,255,.05)
        border-bottom 1px solid rgba(255,255,255,.05)
        vertical-align middle
        color #ddd

        &:after
          content ""
          display table
          clear both
        .title
          float left
        .close
          float right

      .amfooter
        display block
        margin 4px
        margin-top 8px
        height 28px
        padding: 0 12px 6px

        border-top 1px solid rgba(255,255,255,.05)

        .amerror
          color $lred
          width 240px
          float left

        .amf-dismiss
          float right

        .amf-submit
          float right