.context-menu
  z-index $z_ctxmenu

  position absolute
  display none

  //min-width 140px /// for use with icons
  min-width 130px

  font-size $f_size_ctxmenu
  font-weight $f_weight_ctxmenu
  line-height $f_lnh_ctxmenu

  background-color $c_bkg_ctxmenu
  border 1px solid $c_brd_ctxmenu
  box-shadow 0 2px 3px $c_boxshdw_ctxmenu, inset 0 0 1px $c_boxshdw_ctxmenu_hnt

  label
    display block

    width 100%

    padding 3px 6px

    font-size $f_size_ctxmenu_label
    font-weight $f_weight_ctxmenu_label
    line-height $f_lnh_ctxmenu_label

    color $c_ctxmenu_label
    background-color $c_bkg_ctxmenu_label

  li
    overflow hidden

    width 100%
    padding 5px 10px

    color $c_ctxmenu_item

    transition $t_short padding, $t_short color, $t_short background-color

    &:hover, &:active
      cursor pointer

      padding 5px 16px

      color $c_ctxmenu_item_hl
      background-color $c_bkg_ctxmenu_item_hl

    &:active
      color $c_menubar_menu_item_act
