.menubar
  z-index $z_menubar

  position relative
  display block

  width 100%

  color $c_menubar

  font-size $f_size_menubar
  text-shadow 0 1px 2px $c_txtshdw_menubar, 0 1px $c_txtshdw_menubar

  background-color $c_bkg_menubar
  border-bottom 1px solid $c_brd_menubar
  box-shadow 0 1px $c_boxshdw_menubar_hnt

  line-height $f_lnh_menubar

  *
    display block
    vertical-align top

  .menubar-decorater
    position relative

    height 2px
    width 100%

    background-color $c_bkg_menubar_decorator
    border-bottom 1px solid $c_brd_menubar_decorator

  .mb-section-end
    border none
    border-bottom 1px solid $c_brd_menubar_seperator
    box-shadow 0 1px $c_brd_menubar_seperator_hnt

  .bar
    z-index $z_menubar_bar
    position relative

    margin 0
    padding 0

    li, a
      display inline-block

    a
      padding 2px 10px
      border-left 1px solid $c_brd_menubar_seperator
      border-right 1px solid $c_brd_menubar_seperator

      &:hover
        background-color #222
        border-left 1px solid $c_brd_menubar_seperator_hl
        border-right 1px solid $c_brd_menubar_seperator_hl

      &:first-child
        margin-left 4px

  .menu
    z-index $z_menubar_menu

    position absolute

    min-width 140px

    display none

    font-size $f_size_menubar_menu
    font-weight $f_weight_menubar_menu
    line-height $f_lnh_menubar_menu

    background-color $c_bkg_menubar_menu
    border 1px solid $c_brd_menubar_menu
    box-shadow 0 2px 3px $c_boxshdw_menubar_menu, inset 0 0 1px $c_boxshdw_menubar_menu_hnt

    a
      display block
      padding 5px 10px
      color $c_menubar_menu_item

      transition $t_short padding, $t_short color, $t_short background-color

      &:hover, &:active
        cursor pointer

        padding 5px 16px

        color $c_menubar_menu_item_hl
        background-color $c_bkg_menubar_menu_item_hl

      &:active
        color $c_menubar_menu_item_act

      &:last-child
        border-bottom 4px solid $c_bkg_menubar_menu_tail

    hr
      height 0
      margin 0

      border none
      border-top 1px solid $c_brd_menubar_seperator
      border-bottom 1px solid $c_brd_menubar_seperator_hl
