// Top navigation bar, holds the logo and menu items
.menubar
  z-index $Z_amainbar
  position relative
  display block
  width 100%

  background linear-gradient(top, #292929, #242424)
  box-shadow 0 1px 0 0 #353535 inset
  border-bottom 1px solid #000

  font-family Tahoma, Arial

  *
    display block
    vertical-align top

  .mb-decorater
    height 3px
    width 100%
    position relative
    background-color $col_mainbar_decorator_bg
    border-bottom 1px solid $col_divider_bot

  .mb-section-end
    border none
    border-bottom 1px solid rgba(0,0,0,.15)
    box-shadow 0 1px rgba(255,255,255,.1)

  .mb-primary
    z-index $Z_amainbar_primary
    position relative
    margin 0
    padding 0

    a
      display inline-block

      font-size 12px
      color #cecece
      line-height 14px
      height 25px
      padding 4px 8px
      text-shadow rgba(41, 42, 43, 1) 0px 1px 0px

      &:hover
        background-color #333
        box-shadow 1px -1px 0 0 black, -1px 0 0 0 black, 0 1px 0 0 rgba(255,255,255,.15) inset
        color #d4d4d4

      &:first-child
        margin-left 16px

      &.open
        background-color #494949
        box-shadow 1px 0 0 0 black inset, 1px 0 0 0 black, 0 1px 0 0 rgba(255,255,255,.15) inset

        z-index $Z_amainbar_secondary_plus_one

  // aka menu
  .mb-secondary
    z-index $Z_amainbar_secondary
    position absolute
    min-width 120px
    display none

    border 1px solid #00040a
    box-shadow 0px 3px 15px 0px rgba(0, 0, 0, 0.65)
    background-color #494949
    margin-top -1px

    a
      display block
      padding 5px 16px 6px 23px
      white-space nowrap

      font-family Tahoma, Arial
      font-size 11px
      line-height 14px
      color #f1f1f1
      text-shadow 0px 1px 0px #2c2c2c

      transition $time_short padding, $time_short background-color

      &:hover
        background-color #262626
        color #33b5e5

        cursor pointer
