.modal, .floating-widget
  z-index $z_floating

  position absolute

  font-weight $f_weight_flotw
  text-shadow 0 1px 1px $c_txtshdw_flotw

  opacity 0
  color $c_flotw

  background-color $c_bkg_flotw
  box-shadow 0 2px 3px $c_boxshdw_flotw, inset 0 0 1px $c_boxshdw_flotw_hnt
  border 1px solid $c_brd_flotw
  border-radius 4px

  label
    font-weight $f_weight_flotw_label
    font-size $f_size_flotw_label

  .header
    position relative
    padding 0 12px

    border-radius 4px 4px 0 0
    background $c_gradient
    box-shadow inset 0 -1px rgba(0,0,0,.35), inset 0 1px rgba(255,255,255,.05)
    border-bottom 1px solid rgba(255,255,255,.05)

    line-height 28px
    font-size $f_size_flotw_header
    font-weight $f_weight_flotw_header
    text-align center
    color $c_flotw_header

    &:hover
      cursor pointer

  .bg-color-preview
    width 75%
    height 48px
    display block
    margin 8px auto
    border 1px solid $c_brd_default

  .modal-body
    color #aaa
    padding 16px
    font-size $f_size_flotw_body

    p.description
      display block !important
      margin-bottom 16px

    .input_group
      margin 4px 0

      label, input
        display inline-block
        vertical-align top

      label
        width 45%
        text-align right
        margin-right 8px
        padding 4px 0

      .radio
        padding 4px 0
        display inline-block

  .modal-footer
    display block
    height 46px
    padding 8px

    border-top 1px solid $c_brd_flotw_footer

    .message
      color $c_flotw_message
      font-size $f_size_flotw_message
      line-height 28px
      margin-left 8px
      font-style italic

      &.error
        color $c_flotw_message_error

    .modal-dismiss
      float right

    .modal-submit
      float right
