.property-bar
  z-index $Z_amainbar

  overflow hidden

  height 28px

  padding 0 16px

  font-size 12px
  line-height 24px

  color #ccc

  background linear-gradient(top, #343434, #272727)
  border-top 1px solid rgba(255, 255, 255, 0.1)
  border-bottom 1px solid rgba(0, 0, 0, 0.1)
  box-shadow inset 0 -1px rgba(0, 0, 0, 0.25)

  .button
    margin-left: 2px
    margin-right: 2px
    padding: 4px
    text-align: center

  .right
    float right

  *
    display inline-block
    vertical-align top

  .controls
    .target-name
      margin-right 16px

    .target-name + .control-wrapper
      border-left 1px solid #666

    .control-wrapper
      padding 1px 8px 0 8px
      border-right 1px solid #666

      > *
        margin-top 2px

      label
        margin-right 4px

        font-size 12px
        font-weight 700
        line-height 18px

      .control

        &:first-child label
          margin-left 0

        input, label
          display inline-block
          vertical-align top

          font-weight 500

        input
          background transparent
          padding 1px 4px
          margin 0
          width 64px

        input[type="checkbox"]
          margin-top 3px

        label
          margin-left 16px
          margin-right 4px
          line-height 18px

        .color-picker
          display block
          width 16px
          height 16px
          background-color #33b5e5
          border-radius 4px
          box-shadow 0 0 2px rgba(0, 0, 0, 0.5)
          margin-top 1px

          &:hover
            cursor pointer
