.settings-widget
  width 256px

  z-index 1

  margin-top -4px
  box-shadow 0 1px 4px rgba(0, 0, 0, 0.4)

  .content
    padding 4px 12px

    .input
      margin-bottom 8px

      label
        display block
        font-size 12px
        margin-bottom 4px

      input
        margin 0
        width 100%

      &.halfw
        width 45%
        display inline-block
        vertical-align top

    .input.halfw:nth-child(2n)
      margin-right 8%

  .footer-title
    position relative
    display block
    padding 2px 12px

    background linear-gradient(top, #343434,#292929) !important
    border-top 1px solid rgba(0, 0, 0, 0.05)
    font-size 14px

    label
      font-weight 700

    .float-right
      float right

    .close, .submit
      position relative
      display inline-block

      &:hover
        cursor pointer
        color #eee
