.settings-widget
  z-index $z_settings

  width 256px

  margin-top -4px
  box-shadow 0 1px 4px $c_boxshdw_settings

  .content
    padding 4px 12px

    .input
      margin-bottom 8px

      label
        display block
        font-size $f_size_settings_label
        font-weight $f_weight_settings_label
        margin-bottom 4px

      input
        margin 0
        width 100%

      &.halfw
        display inline-block
        width 45%
        vertical-align top

    .input.halfw:nth-child(2n)
      margin-right 8%

  .footer-title
    position relative
    display block
    padding 2px 12px

    background linear-gradient(top, #343434, #292929) !important
    border-top 1px solid $c_brd_settings_footer
    font-size $f_size_settings_footer

    label
      font-size $f_size_settings_footer_label
      font-weight $f_weight_settings_footer_label

    .float-right
      float right

    .close, .submit
      display inline-block

      position relative

      color $c_settings_button

      transition $t_short color

      &:hover, &:active
        cursor pointer
        color $c_settings_button_hl

      &:active
        color $c_settings_button_act