.settings-widget
  width 256px

  z-index 1

  margin-top -4px
  box-shadow 0 1px 4px rgba(0, 0, 0, 0.4)

  .content
    padding 4px 12px

    .input
      margin-bottom 8px

      label
        display block
        font-size 12px
        margin-bottom 4px

      input
        margin 0
        width 100%

  .footer-title
    position relative
    display block
    padding 2px 12px

    background linear-gradient(top, #343434,#292929) !important
    border-top 1px solid rgba(0, 0, 0, 0.05)
    font-size 14px

    .close
      position absolute
      right 12px
      bottom 6px

      &:hover
        cursor pointer
        color #eee
