.texture-library
  width 400px
  border none
  background linear-gradient(to bottom,#292929,#242424)

  header
    background-color rgba(220, 220, 220, 1)
    border-top-left-radius 4px
    border-top-right-radius 4px
    border-bottom 1px solid #b9b9b9
    border-top 1px solid #c9c9c9
    box-shadow 0 1px 0 0 rgba(255,255,255,0.4) inset, -1px 0 0 0 rgba(255,255,255,.9) inset

    height 32px
    padding 3px 6px

    .tl-upload
      float right

  section
    border-bottom-left-radius 4px
    border-bottom-right-radius 4px
    border-bottom 1px solid rgba(0,0,0,.6)
    border-left 1px solid rgba(0,0,0,.6)
    border-right 1px solid rgba(0,0,0,.6)
    border-top 1px solid #33b5e5

  .tl-list
    padding 16px 8px

    .tl-entry
      width 125px
      padding 0 8px
      margin-bottom 30px

      display inline-block
      vertical-align top

      &:hover
        cursor pointer

      .tl-entry-img
        background-size cover
        width 109px
        height 109px
        border-radius 4px
        margin-bottom 4px

      span
        display block
        padding-left 4px
        font-size 11px

      .tl-entry-filename
        color white
