.workspace
  position absolute
  width 100%
  height 100%
  overflow hidden

.editor-canvas

  display block
  margin 0 auto
  position relative

  canvas
    position absolute

  .cursor-position
    display inline-block
    z-index 1001
    position relative
    float right
    padding 1px 8px
    margin 4px 4px

    //background-color $gray
    border 1px solid #33bbff
    border-radius 8px

    color #33bbff
    font-size 12px
    opacity 0.0

    transition $t_short opacity

  .outline
    border 1px solid #0099cc
    background-color transparent
    position relative
    pointer-events none

  .outline-text
    color #0099cc
    position relative
    font-size 12px

  &:hover
    .cursor-position
      opacity 1.0