//
// Copyright © 2013 Spectrum IT Solutions Gmbh - All Rights Reserved
//

// Contains everything interesting, including workspace and sidebars
.workspace
  //background-color $col_workspace_bg
  width 100%
  overflow hidden


.editor-canvas

  canvas
    position absolute

  display block
  margin 0 auto
  position relative

  .cursor-position
    display inline-block
    z-index 1001
    position relative
    float right
    padding 1px 8px
    margin 4px 4px

    //background-color $gray
    border 1px solid #33bbff
    border-radius 8px

    color #33bbff
    font-size 12px
    opacity 0.0

    transition $time_short opacity

  .outline
    border 1px solid #0099cc
    background-color transparent
    position absolute
    pointer-events none

  .outline-text
    color #0099cc
    position absolute
    font-size 12px

  &:hover
    .cursor-position
      opacity 1.0