// Shown in a modal when changing the bg color
.bg-color-preview
  width 75%
  height 48px
  display block
  margin 8px auto
  border 1px solid rgba(0, 0, 0, 0.1)

.modal, .floating-widget
  position absolute
  z-index $Z_amodal

  font-weight 300
  box-shadow inset 0 0 1px rgba(255,255,255,.15), 0 3px 15px rgba(0,0,0,.15)
  border 1px solid rgba(0,0,0,.6)

  opacity 0
  color #ddd

  background rgba(48, 48, 48, 0.96)
  border-radius 4px

  .header
    position relative
    padding 0 12px

    border-radius 4px 4px 0 0
    background linear-gradient(top, #343434,#292929)
    box-shadow inset 0 -1px rgba(0,0,0,.35), inset 0 1px rgba(255,255,255,.05)
    border-bottom 1px solid rgba(255,255,255,.05)

    line-height 28px
    font-size 14px
    text-align center
    color #ddd

    &:hover
      cursor pointer

  .modal-body
    color #aaa
    padding 16px
    font-size 14px

    p.description
      display block !important
      margin-bottom 16px

    .input_group
      margin 4px 0

      label, input
        display inline-block
        vertical-align top

      label
        width 45%
        text-align right
        margin-right 8px
        padding 4px 0

      .radio
        padding 4px 0
        display inline-block

  .modal-footer
    display block
    height 46px
    padding 8px

    border-top 1px solid rgba(255,255,255,.05)

    .message
      color #aaa
      font-size 14px
      line-height 28px
      margin-left 8px
      font-style italic

      &.error
        color $lred

    .modal-dismiss
      float right

    .modal-submit
      float right
