*
  box-sizing border-box

body
  overflow hidden

  padding 0
  margin 0
  border none

  font-family 'Roboto', Tahoma, Arial
  font-weight $f_weight
  text-rendering optimizeLegibility

  line-height $f_lnh

  color $c_default

  user-select none

hr
  margin 0 !important
  padding 0 !important

  border none
  border-top 1px solid $c_brd_default_hnt
  border-bottom 1px solid $c_brd_default_hl

a
  color $c_a
  text-decoration none

  &:hover
    color $c_a_hl

button, input[type="button"], select
  display inline-block

  vertical-align baseline

  padding 6px 12px

  line-height 1
  text-shadow 0 1px $c_txtshdw_button
  color $c_button

  background linear-gradient(top, #272727, #222222)
  border 1px solid $c_brd_button2
  border-radius 5px
  box-shadow inset 0 1px 0px $c_boxshdw_button_hnt2

  outline none

  transition $t_short color

  &:focus
    border-color $c_brd_input_focus

  &:hover
    cursor pointer
    color $c_button_hl

  &:active, &:focus
    color $c_button_act
    background $c_bkg_button_act

select
  padding 3px 5px

input[type="text"], input[type="number"]
  padding 5px

  color $c_input
  font-size $f_size_input

  border none
  border 1px solid $c_brd_input
  border-radius 2px
  background-color $c_bkg_input
  box-shadow inset 0 0 3px $c_boxshdw_input, 0 1px $c_boxshdw_input_hnt

  outline none

  &:focus
    border-color $c_brd_input_focus