@import "widgets/section.styl"

@import "widgets/button.styl"
@import "widgets/context_menu.styl"
@import "widgets/menubar.styl"
@import "widgets/modal.styl"
@import "widgets/modals.styl"
@import "widgets/panel.styl"
@import "widgets/property_bar.styl"
@import "widgets/settings.styl"
@import "widgets/sidebar.styl"
@import "widgets/statusbar.styl"
@import "widgets/timeline.styl"
@import "widgets/workspace.styl"
