/*
  Color definitions for the editor
  This is split up into sections, with the color pallete at the top
  Each section defines its own variables to be used in other files

  Keep the names descriptive, length is not an issue. We should be able to
  skin the editor by only modifying this file

  Variations on colors should be named with a one-letter prefix when possible
    blue  = blue
    lblue = light blue
    mblue = medium blue
    dblue = dark blue
    etc
*/

////// Global color pallete
$lblue = #33b5E5
$dblue = #0099cc

$lgreen = #99cc00
$dgreen = #669900

// TODO: Revise the grays
$gray = #363636
$lgray = #464646
$llgray = #565656
$mgray = #424242
$dgray = #262626

$white = #f6f6f6
$mwhite = #eee
$dwhite = #cfcfcf

////// Sidebar colors
// widgets/AWigetSidebar.styl
$col_sidebar_bg = $white
$col_sidebar_color = $gray
$col_sidebar_hr_bg = $lblue
$col_sidebar_name_bg = $lblue
$col_sidebar_name_color = $white
$col_sidebar_objgroup_border = $lgreen
$col_sidebar_obj_name_border = $lblue
$col_sidebar_obj_name_hover_bg = $lblue
$col_sidebar_obj_name_hover_color = $white
$col_sidebar_property_input_focus_shadow = $dblue
$col_sidebar_property_group_border = $mwhite

////// Mainbar colors
// widgets/AWidgetMainbar.styl
$col_mainbar_bg = $gray
$col_mainbar_color = $dwhite
$col_mainbar_decorator_bg = $lgreen
$col_mainbar_logo_bg = $dgray
$col_mainbar_link_hover_bg = $mgray
$col_mainbar_primary_open_bg = $lgray
$col_mainbar_secondary_hover_bg = $llgray
$col_mainbar_secondary_hover_color = $lgreen
$col_mainbar_secondary_section_border = $gray

////// Context menu colors
// widgets/AWidgetContextMenu.styl
$col_ctxmenu_bg = $lgray
$col_ctxmenu_hover_bg = $llgray
$col_ctxmenu_hover_color = $lgreen

////// Base actor manipulatable colors
// manipulatables/AMBaseActor.styl
$col_amba_selected_bg = $dblue

////// Workspace controlbar colors
$col_awcb_bg = $dgray
$col_awcb_section_bg = $lblue
$col_awcb_section_title_bg = $dblue
$col_awcb_control_on_hover = $dblue
$col_awcb_status_bg = $lgreen
$col_awcb_off_bg = $mgray