// Z-index definitions
$Z_amainbar = 1000
$Z_amainbar_primary = $Z_amainbar + 1
$Z_amainbar_secondary = $Z_amainbar_primary

$Z_asidebar = 200

$Z_atimeline = $Z_asidebar + 1
$Z_atimline_cursor = $Z_atimeline + 100
$Z_atimeline_toolbar = $Z_atimline_cursor + 1

$Z_anotification = $Z_amainbar_secondary + 1