@import "vendor/reset.css"

@import "effeckt/effeckt-offscreen-nav-autoprefixed"
@import "nib"
@import "nib/gradients"

body, html
  padding 0
  margin 0

#aeditor
  font-family Arimo, Tahoma, Arial
  text-rendering optimizeLegibility

  a
    color inherit
    text-decoration none

@import "widgets/AWidgetMainbar.styl"
@import "widgets/AWidgetWorkspace.styl"
