//
// Copyright © 2013 Spectrum IT Solutions Gmbh - All Rights Reserved
//

@import "vendor/reset.styl"
*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing: border-box

.cf:after
  clear both
  content "."
  display block
  font-size 0
  height 0
  line-height 0
  visibility hidden

.cf
  zoom 1

@import "effeckt/effeckt-offscreen-nav-autoprefixed"
@import "nib"
@import "nib/gradients"

@import "layers.styl"
@import "colors.styl"
@import "perfect-scrollbar.styl"

@import "aeditor.styl"

@import "handles.styl"
@import "widgets.styl"