@import "widgets/context_menu.styl"
@import "widgets/control_bar.styl"
@import "widgets/mainbar.styl"
@import "widgets/modal.styl"
@import "widgets/notification.styl"
@import "widgets/panel.styl"
@import "widgets/sidebar.styl"
@import "widgets/statusbar.styl"
@import "widgets/timeline.styl"
@import "widgets/toolbar.styl"
@import "widgets/workspace.styl"