@import "widgets/AWidgetMainbar.styl"
@import "widgets/AWidgetWorkspace.styl"
@import "widgets/AWidgetSidebar.styl"
@import "widgets/AWidgetContextMenu.styl"
@import "widgets/AWidgetControlBar.styl"
@import "widgets/AWidgetTimeline.styl"
@import "widgets/AWidgetNotification.styl"
@import "widgets/AWidgetModal.styl"