/*
 bkg : background
 brd : border
 bxshdw : box-shadow
 hl : highlight / hover
 hnt : hint
 act : active
 */

$c_gradient = linear-gradient(top, #343434, #272727)

/** background color */
//$c_bkg_default_dark = rgb(25, 25, 25)
$c_bkg_default = rgba(35, 35, 35, 0.95)
$c_bkg_default_s = rgb(35, 35, 35)
$c_bkg_default2 = rgba(45, 45, 45, 0.95)
$c_bkg_default2_s = rgb(45, 45, 45)
$c_bkg_default_hl = rgb(45, 45, 45)
$c_bkg_default_act = rgb(35, 35, 35)

$c_bkg_button_act = $c_bkg_default_act

$c_bkg_ctxmenu = $c_bkg_default
$c_bkg_ctxmenu_label = rgb(60, 60, 60)
$c_bkg_ctxmenu_item_hl = $c_bkg_default_hl

$c_bkg_flotw = $c_bkg_default2

$c_bkg_input = $c_bkg_default

$c_bkg_menubar = $c_bkg_default_hl

$c_bkg_menubar_decorator = rgb(52, 181, 229)

$c_bkg_menubar_menu = $c_bkg_default
$c_bkg_menubar_menu_item_hl = $c_bkg_default_hl
$c_bkg_menubar_menu_tail = rgb(60, 60, 60)

$c_bkg_panel = $c_bkg_default_s
$c_bkg_panel_footer = $c_bkg_default2_s
$c_bkg_panel_thumb_hl = $c_bkg_default_hl
$c_bkg_panel_tab = $c_bkg_default_s

$c_bkg_panel_properties_input = rgba(0, 0, 0, 0.1)


/** border color */
$c_brd_default = rgba(0, 0, 0, 0.3)
$c_brd_default_hl = rgba(0, 0, 0, 0.45)
$c_brd_default_hnt = rgba(255, 255, 255, 0.1)

$c_brd_ctxmenu = $c_brd_default

$c_brd_button = transparent
$c_brd_button2 = $c_brd_default
$c_brd_button_hl = $c_brd_default
$c_brd_button_hnt = $c_brd_default_hnt

$c_brd_flotw = $c_brd_default
$c_brd_flotw_footer = $c_brd_default

$c_brd_input = transparent
$c_brd_input_focus = rgb(52, 181, 229)

$c_brd_menubar_decorator = rgb(24, 96, 115)

$c_brd_menubar = $c_brd_default

$c_brd_menubar_seperator = transparent
$c_brd_menubar_seperator_hnt = $c_brd_default_hnt
$c_brd_menubar_seperator_hl = $c_brd_default_hl

$c_brd_menubar_menu = $c_brd_default

$c_brd_panel = $c_brd_default
$c_brd_panel_footer = $c_brd_default
$c_brd_panel_footer_hnt = $c_brd_default_hl

$c_brd_panel_tabs = $c_brd_default
$c_brd_panel_tab = $c_brd_default
$c_brd_panel_tab_hnt = $c_brd_default_hl

$c_brd_panel_thumb_hl = $c_brd_default

$c_brd_panel_content = $c_brd_default

$c_brd_settings_footer = $c_brd_default


/** box-shadow color */
$c_boxshdw_default = rgba(0, 0, 0, 0.15)
$c_boxshdw_default_hl = rgba(255, 255, 255, 0.2)
$c_boxshdw_default_hnt = rgba(255, 255, 255, 0.2)
$c_boxshdw_default_hnt2 = rgba(255, 255, 255, 0.1)
$c_boxshdw_default_hnt3 = rgba(255, 255, 255, 0.05)
$c_boxshdw_default_act = rgba(0, 0, 0, 0.25)

$c_boxshdw_button = $c_boxshdw_default
$c_boxshdw_button_hl = $c_boxshdw_default_hl
$c_boxshdw_button_hnt = $c_boxshdw_default_hnt
$c_boxshdw_button_act = $c_boxshdw_default_act
$c_boxshdw_button_hnt2 = $c_boxshdw_default_hnt2

$c_boxshdw_ctxmenu = $c_boxshdw_default
$c_boxshdw_ctxmenu_hnt = $c_boxshdw_default_hnt

$c_boxshdw_flotw = $c_boxshdw_default
$c_boxshdw_flotw_hnt = $c_boxshdw_default_hnt

$c_boxshdw_input = $c_boxshdw_default
$c_boxshdw_input_hnt = $c_boxshdw_default_hnt

$c_boxshdw_menubar_hnt = $c_boxshdw_default_hnt

$c_boxshdw_menubar_menu = $c_boxshdw_default
$c_boxshdw_menubar_menu_hnt = $c_boxshdw_default_hnt

$c_boxshdw_settings = $c_boxshdw_default

$c_boxshdw_panel = $c_boxshdw_default_hnt3
$c_boxshdw_panel_footer = $c_boxshdw_default_hnt3
$c_boxshdw_panel_tabs = $c_boxshdw_default

$c_boxshdw_panel_content = $c_boxshdw_default_hnt


/** text-shadow */
$c_txtshdw_default = rgba(0, 0, 0, 0.2)
$c_txtshdw_default2 = rgba(0,0,0,0.58)

$c_txtshdw_menubar = $c_txtshdw_default

$c_txtshdw_button = $c_txtshdw_default

$c_txtshdw_flotw = $c_txtshdw_default

$c_txtshdw_panel_footer = $c_txtshdw_default2
$c_texshdw_panel_tab = $c_txtshdw_default2
$c_txtshdw_panel_content = $c_txtshdw_default2


/** font color */
$c_default = rgb(48, 48, 48)
$c_default2 = rgb(96, 96, 96)
$c_default_light = rgb(255, 255, 255)
$c_item_default = rgb(160, 160, 160)
$c_item_default_hl = rgb(208, 208, 208)
$c_item_default_act = rgb(52, 181, 229)

/* anchor */
$c_a = $c_item_default_act
$c_a_hl = $c_item_default_hl

/* button */
$c_button = $c_item_default
$c_button_hl = $c_item_default_hl
$c_button_act = $c_item_default_act

/* context-menu label */
$c_ctxmenu_label = $c_default_light
/* context-menu item */
$c_ctxmenu_item = $c_item_default
$c_ctxmenu_item_hl = $c_item_default_hl

/* floating-widget */
$c_flotw = $c_item_default
$c_flotw_header = $c_item_default
$c_flotw_message = $c_item_default_hl
$c_flotw_message_error = rgb(255, 68, 68)

/* input */
$c_input = $c_item_default_hl

/* menubar */
$c_menubar = $c_default_light

$c_menubar_menu_item = $c_item_default
$c_menubar_menu_item_hl = $c_item_default_hl
$c_menubar_menu_item_act = $c_item_default_act

$c_settings_button = $c_item_default
$c_settings_button_hl = $c_item_default_hl
$c_settings_button_act = $c_item_default_act

$c_panel_footer = $c_default2
$c_panel_footer_icon_hl = $c_item_default_hl
$c_panel_footer_icon_act = $c_item_default_act
$c_panel_tab = $c_item_default
$c_panel_tab_act = $c_item_default_hl
$c_panel_content = $c_item_default
$c_panel_content_dt = $c_item_default_hl
$c_panel_content_dd = $c_item_default

/* OLD to be removed \/ */
/*
  Color definitions for the editor
  This is split up into sections, with the color pallete at the top
  Each section defines its own variables to be used in other files

  Keep the names descriptive, length is not an issue. We should be able to
  skin the editor by only modifying this file

  Variations on colors should be named with a one-letter prefix when possible
    blue  = blue
    lblue = light blue
    mblue = medium blue
    dblue = dark blue
    etc
*/

////// Global color pallete
$lblue = #33b5E5
$dblue = #0099cc

$gray = #363636
$mgray = #303030
$dgray = #262626
$dmgray = #232323
$ddgray = #161616
$white = #dfdfdf

$lred = #ff4444
$red = #cc0000

$lorange = #ffbb33
$orange = #ff8800

$lgreen = #99cc00
$green = #669900

$lpurple = #aa66cc
$purple = #9933cc

// Dividers
$col_divider_bot = $ddgray
$col_divider_top = $gray

////// Sidebar colors
// widgets/AWigetSidebar.styl
$col_sidebar_bg = $dgray
$col_sidebar_bg2 = $gray
$col_sidebar_color = $white
$col_sidebar_hr_bg = $lblue
$col_sidebar_obj_name_hover_bg = #202020
$col_sidebar_property_input_focus_border = $dblue
$col_sidebar_property_input_focus_bg = $gray
$col_sidebar_property_save_bg = #202020
$col_sidebar_property_save_col = $dblue
$col_sidebar_obj_catname_color = $dblue
$col_sidebar_property_label = $dblue
$col_sidebar_property_input = $white

////// Mainbar colors
// widgets/AWidgetMainbar.styl
$col_mainbar_bg = $dgray
$col_mainbar_color = $white
$col_mainbar_decorator_bg = $dblue
$col_mainbar_link_hover_bg = $gray
$col_mainbar_primary_open_bg = #464646
$col_mainbar_secondary_hover_bg = #333
$col_mainbar_secondary_hover_color = #333
$col_mainbar_secondary_section_border = $gray

////// Context menu colors
// widgets/AWidgetContextMenu.styl
$col_cm_bg_highlight_label = #444
$col_cm_bg_highlight = $col_mainbar_secondary_hover_bg

$col_ctxmenu_bg = #464646
$col_ctxmenu_hover_bg = #565656
$col_ctxmenu_hover_color = #99cc00

////// Base actor manipulatable colors
// manipulatables/AMBaseActor.styl
$col_amba_selected_bg = $dblue

////// Workspace colors
$col_workspace_bg = $white

////// Workspace controlbar colors
$col_awcb_bg = $dgray
$col_awcb_section_bg = $lblue
$col_awcb_section_title_bg = $dblue
$col_awcb_control_on_hover = $dblue
$col_awcb_status_bg = #99cc00
$col_awcb_off_bg = $mgray

////// Timeline colors
$col_timeline_bg = $mgray
$col_timeline_divider_bot = rgba(0,0,0,.15)
$col_timeline_actors_bg = $dgray
$col_timeline_actors_col = $white
$col_timeline_toolbar_col = $white

////// Default timebar colors
$col_timebar_1 = red
$col_timebar_2 = blue
$col_timebar_3 = green
$col_timebar_4 = orange

.atimebar-color-1-bg { background-color: $col_timebar_1; }
.atimebar-color-2-bg { background-color: $col_timebar_2; }
.atimebar-color-3-bg { background-color: $col_timebar_3; }
.atimebar-color-4-bg { background-color: $col_timebar_4; }

.atimebar-color-1 { color: $col_timebar_1; }
.atimebar-color-2 { color: $col_timebar_2; }
.atimebar-color-3 { color: $col_timebar_3; }
.atimebar-color-4 { color: $col_timebar_4; }