.timeline
  font-size 14px
  position relative
  width 100%
  background #1e1e1e
  z-index $Z_atimeline

  left 0
  right 0
  bottom 0

  .content // needed for perfectScrollbar
    overflow hidden
    position relative
    height calc(100% - 27px)

  .cursor
    position absolute
    height 100%
    width 2px
    z-index 3
    cursor ew-resize
    background-color black

    &:hover
      background-color #0099cc

  .row
    height 24px
    line-height 24px
    position relative

    &.selected
      background-color #bcbcbc

      .title
        color white !important
