.timeline
  .list
    float left
    min-height 100%
    width 310px

    background-color #f3f3f3
    border-top 1px solid #b9b9b9
    border-right 1px solid rgba(43,43,43,0.4)
    box-shadow 0 1px 0 0 rgba(255,255,255,0.4) inset, -1px 0 0 0 rgba(255,255,255,.9) inset
    color #595959

  section label
    text-align center
    display block

    text-shadow #fff 0px 1px 0px
    background-color rgb(220, 220, 220)
    box-shadow -1px 0 0 0 rgba(255,255,255,.8) inset

    padding 1px 0 // Fill up 24px height

  .actor
    height 24px
    overflow hidden

    &.expanded
      height auto

  .property
    background-color rgba(255,255,255,.02)

  .list .actor
    cursor pointer
    font-size 12px

    .actor-info
      padding 0 15px

      .visibility
        display inline-block
        width 16px
        height 16px
        font-size 10px
        margin-right 4px
        line-height 1
        padding 2px 0
        text-align center
        vertical-align middle

      .expand
        display inline-block
        vertical-align top
        margin-right 5px

      .title
        display inline-block
        color #595959

    .actor-properties li
      white-space nowrap
      color #666
      font-size 12px

      border-top 1px solid #ddd
      padding 0 16px 0 32px

      &:last-child
        border-bottom 1px solid #ddd

      > *
        display inline-block

      .title
        width 60px

      .value
        padding-left 15px
        color hsl(196, 47%, 55%)
        cursor ew-resize

