.timeline
  .header
    height 28px
    line-height 28px

    position absolute
    left 309px
    top -28px
    padding-right 310px

    font-size 16px
    background-color rgba(220, 220, 220, 0.9)

    padding 0 310px
    width 100%
    border-top 1px solid #b9b9b9
    border-right 1px solid rgba(43,43,43,0.4)
    border-left 1px solid rgba(43,43,43,0.4)
    border-bottom 0
    box-shadow 0 1px 0 0 rgba(255,255,255,0.4) inset, -1px 0 0 0 rgba(255,255,255,.9) inset

    > *
      display inline-block
      color #444

    .current_time
      margin-right 15px
      width 64px
    a
      color inherit
      padding 0 3px
      font-size 14px

  .timeline-control-bar .control
    height 24px

    &:active, &.active
      color $dblue

    &:hover
      cursor hand
      cursor pointer

    &.right
      float right
      margin-right 4px
