doctype html
html(lang="en")
  head

    meta(charset="utf-8")
    title Adefy Editor

    //- We need this, otherwise pace.js won't get past 99% most of the time
    script.
      window.paceOptions = { eventLag: false }

    //- PaceJS
    script(src="/editor/components/pace/pace.min.js")
    link(rel="stylesheet" href="/editor/components/pace/themes/pace-theme-minimal.css")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="//img/favicon.png" type="image/png")

    link(rel="stylesheet" href="/editor/build/css/style.min.css")
    link(rel="stylesheet" href="/editor/components/fontawesome/css/font-awesome.min.css")

    //- Payload used to properly load up the creative as a Project
    script.
      window.ADEFY_EDITOR_CREATIVE_PAYLOAD = !{JSON.stringify(creative)};

  body.editor
    header
    section.main
    footer

    //- Vendor libs
    script(src="/editor/components/jquery/dist/jquery.min.js")
    script(src="/editor/components/jquery.mousewheel/jquery.mousewheel.js")
    script(src="/editor/components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.js")
    script(src="/editor/components/handlebars/handlebars.min.js")
    script(src="/editor/components/async/lib/async.js")

    //- Adefy libraries
    script(src="/editor/components/adefyre/build/are-prod-full.min.js")
    script(src="/editor/components/adefyjs/build/ajs-prod.min.js")

    //- Load lodash after ARE to override underscore
    script(src="/editor/components/lodash/dist/lodash.min.js")

    script(src="//api.filepicker.io/v1/filepicker.js")
    script.
      filepicker.setKey("Aw0cpCnEeTLe23CePFWT4z")

    //- Load us up!
    script(src="/editor/components/requirejs/require.js" data-main="/editor/build/lib/main.js")
