#modal-open-project
  min-width 511px

  > *
    display inline-block
    vertical-align top

  .preview
    width 200px
    box-shadow 0 0 2px rgba(0, 0, 0, 0.5)
    border-radius 4px

  .project-list
    width 300px
    margin-left 8px
    padding-left 7px
    border-left 1px solid #444

    li
      background-color #33b5e5
      color white
      padding 2px 8px
      margin-bottom 6px
      border-radius 4px

      &:hover
        background-color #555
        cursor pointer

    .modified
      float right
      font-style italic
