#modal-set-texture
  ul
    padding 8px
    width 680px

    li
      float left
      margin-left 8px

      width 160px

      &:first-child
        margin-left 0

      img
        max-width 100%

        &:hover
          cursor pointer
